<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager</title>
</head>

<body>
    <small style="color:aliceblue;">
        <%=alert%>
           <%=movie%>
                <%=theater%>
    </small>
    <br>
    <h1 style="text-align: center;">Manager</h1><br>
    <button type="button"><a href="theater">Theater</a></button>
    <button type="button"><a href="movies">movie</a></button>
    <br>
    <small id="s1" style="color: green;"></small>
    <small id="err" style="color: red;"></small>
    <form method="post" action="/manager">
        <!-- <label for="theaterid">theaterid</label>
    <input type="number" id="theaterid" name="theaterid" placeholder="Enter theaterid Id">  -->
        <div style="padding-left: 1cm;">
            <label for="movieid">movieid</label><br>
            <select id="movieid" name="movieid" placeholder="select movie Id">
                <option value=""></option>
            </select>
            <small id="e5"></small><br>
            <label for="movie_name">movie_name</label><br>
            <select id="movie_name" name="movie_name" placeholder="select movie name">
                <option value=""></option>
            </select>
            <small id="e4"></small><br>
            <label for="theaterid">theaterid</label><br>
            <select id="theaterid" name="theaterid" placeholder="select theater Id">
                <option value=""></option>
            </select>
            <small id="e6"></small><br>
            <label for="class">class_type</label>
            <select id="class" name="class">
                <option value=""></option>
                <option value="upperclass">upperclass</option>
                <option value="lowerclass">lowerclass</option>
            </select>
            <small id ="c1"></small>
            <label for="price">price</label><br>
            <input type="text" id="price" name="price" placeholder="Enter price">
            <small id="e3"></small><br>
            <label for="start_time">start_time</label><br>
            <input type="datetime-local" id="start_time" name="start_time">
            <small id="e2"></small><br>
            <label for="end_time">end_time</label><br>
            <input type="datetime-local" id="end_time" name="end_time">
            <small id="e1"></small><br>
            <button type="submit">submit</button>
        </div>
    </form>

</body>
<script>
    var movie = '<%-JSON.stringify(movie)%>';
    var movie1 = JSON.parse(movie);
    var theater = '<%-JSON.stringify(theater)%>';
    var theater1 = JSON.parse(theater);
    var theaterid = document.getElementById('theaterid');
    var movieid = document.getElementById('movieid');
    var movie_name = document.getElementById('movie_name');
    for (var i = 0; i < movie1.length; i++) {
        var opt = document.createElement('option');
        opt.innerHTML = movie1[i].movieid;
        opt.value = movie1[i].movieid;
        movieid.appendChild(opt);
        var opt1 = document.createElement('option');
        opt1.innerHTML = movie1[i].moviename;
        opt1.value = movie1[i].moviename;
        movie_name.appendChild(opt1);
    }
    for (var i = 0; i < theater1.length; i++) {
        var opt = document.createElement('option');
        opt.innerHTML = theater1[i].theaterid;
        opt.value = theater1[i].theaterid;
        theaterid.appendChild(opt);
    }
    let manager = "<%-alert%>";
    if (manager == 's1') {
        document.getElementById('s1').innerHTML = "data added succesfully";
    } else if (manager == 'e1') {
        document.getElementById('e1').innerHTML = "Enter end time";
    } else if (manager == 'e2') {
        document.getElementById('e2').innerHTML = "Enter start time";
    } else if (manager == 'e3') {
        document.getElementById('e3').innerHTML = "Enter price";
    } else if (manager == 'e4') {
        document.getElementById('e4').innerHTML = "select movie name";
    } else if (manager == 'e5') {
        document.getElementById('e5').innerHTML = "select movie Id";
    } else if (manager == 'e6') {
        document.getElementById('e6').innerHTML = "select theater id ";
    } else if (manager == 'cl1') {
        document.getElementById('err').innerHTML = "classtype for price already selected ";
    } else if (manager == 'c1') {
        document.getElementById('c1').innerHTML = "must select classtype";
    } else if (manager == 'm1') {
        document.getElementById('err').innerHTML = "Enter moviename related to movieid";
    }
</script>

</html>